body {

    height: 100vh;
    font-family: "Noto Sans", sans-serif;
   background-color: #000;
    overflow: hidden;
  
}

#up-arrow{
    position: absolute;
    top: 88%;
    left: 40%;
    translate: -50%;
    color: #ffffffae;
    font-size: xx-large;
}
#magnifying-plus,#magnifying-minus{
    position: absolute;
    top: 88%;
    left: 60%;
    translate: -50%;
    color: #ffffffae;
    font-size: xx-large;
}

.frame {
    position: relative;
    top: 5%;
    left: 50%;
    translate: -50%;
    width:145px;
    height: 145px;
    transform-origin: bottom center;
    animation: spin 4s linear infinite;  
    
}
.frame-center{
    top: 20%;
}
.frame-magnifying{
    scale: 1.4;
}
.odd, .even {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5px solid #eff7f815;
    border-radius: 50% 50% 50% 50% / 35% 36% 65% 65% ;
    transform-origin: bottom center;
    rotate: calc(18deg * var(--d));
   
}
.odd {
    background-color: #ffd50014;
    top: 15%;
    height: 85%;
    scale: 0 1;
    animation: scale 6s ease-in-out infinite alternate-reverse ;  
}
.even { 
    background-color: #ff080022;
}
.even-animi{
    animation: color 4s 5s linear infinite alternate-reverse;   

}
@keyframes spin {
    from {
        rotate: -360deg;
    }
}
@keyframes scale {
   
    to{
        scale: 1 1;
    }
}
 @keyframes color {
    to{
        background-color: #00f2ff12;
    }
} 

.controls{
    position: relative;
    top: 28%;
    left: 50%;
    translate: -50%;
    width: 300px;
    height:270px ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    row-gap: 1rem;
    background-color: #aaaaaa00;
  
}
 @media (max-width:500px){
    #magnifying{
        display: none;
    }
   
} 
.f-screen{
  
     display: none; 
     
}
.controls >i{
    position: absolute;
    font-size:  x-large;
    top: 100px;
    right: 5px;
    color: #ffffffcd;
}

.fc , .sc{
    display: flex;
    justify-content: center;
    column-gap: 2rem
    
}
.fc >div , .sc>div{
   
    width: 40px;
    height: 35px;
    border-radius: 30% 70% 70% 30% / 30% 44% 56% 70% ;
    border: 1px solid;
    
}
.color1,.color2{
    height: 20px;
    padding: .5rem;
    font-size: 11px;
    opacity: .7;
    scale: 1.3 1;
    color: #fff;
    border-radius: 1rem;
}
.color3{
    color: #f44336;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}
button{
    width: 140px;
    height: 32px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #cbc9c9;
    color: #6e6c6c;
}
@media(max-width:420px){
   
    button{
        
        font-size: 15px;
    } 
}
@media(min-width:800px){
   
    .controls{
        top: 40%;
        scale: 1.4;
    }
}
@media(min-width:1200px){
    .infos-sec{
        position: absolute;
        translate: 250px 40px;
        scale: 1.4;
    
    }
    @keyframes infos-symbol{
        to{
            scale: 1.6;
            color: gold;
        }
    }
}
#green{
    background-color: #59ff0014;
}
#blueviolet{
    background-color: #e80bd614;

}
#yellow{
    background-color: #ffd90014;

}
#red{
    background-color: #f2080814;
}
#blue{
    background-color: #0881f214;
}
#orange{
    background-color: #ff980014;
}
.infos-sec{
    position: fixed;
    top: 20px;
    left: -25px;

}

#infos{
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 20px;
    color: white;
    animation: infos-symbol 1s 4 alternate;
}

.infos-container{
    position: absolute;
    top: 30px;
    left: 62px;
    width: 270px;
    height: 360px;
    padding: 1rem;
    border-radius: 1rem;
    color: #777;
    background-color: #eee;
   font-size: 12px;
   transform-origin: top left;
   scale: 0;
}
.show-infos{
animation: show-infos .6s linear forwards;

}

@keyframes show-infos{
    to{
        scale: 1;
       
    }
}
@keyframes infos-symbol{
    to{
        scale: 1.3;
        color: gold;
    }
}

.infos-container >h2, h5{
    text-align: center;
}
.warning{
    position: absolute;
    top: 87px;
    left: 8px;
    height: 200px;
    font-size: 11px;
    color: rgb(251, 30, 30);
    writing-mode: vertical-rl;
}