body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}

.frame {
    position: relative;
    top: -100px;
    width: 120px;
    height: 120px;
    transform-origin: bottom center;
      animation: spin 4s linear infinite;  
    scale: 1.7;
}
@media(max-width:700px){
    .frame{
        scale: 1.2;
        
    }
}
.frame div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5px solid #eff7f810;
    border-radius: 50% 50% 50% 50% / 35% 36% 65% 65% ;
    transform-origin: bottom center;
    rotate: calc(36deg * var(--d));
   
}
.frame div:nth-child(odd) {
    background-color: #036bf40d;
    top: 19px;
    height: 85%;
    scale: 0 1;
     animation: scale 8s ease-in-out infinite alternate-reverse ;  
}
.frame div:nth-child(even) { 
    background-color: #ffbb0017;
     animation: color 4s 6s ease-in-out infinite alternate-reverse;  
}
@keyframes spin {
    from {
        rotate: -360deg;
    }
}
@keyframes scale {
   
    to{
        scale: 1 1;
    }
}
@keyframes color {
    to{
        background-color: #00d5ff17;
    }
}
