body {

    height: 100vh;
    font-family: "Noto Sans", sans-serif;
   background-color: #000;
    overflow: hidden;
  
}

#up-arrow{
    position: absolute;
    top: 88%;
    left: 40%;
    translate: -50%;
    color: #ffffffae;
    font-size: xx-large;
}
#magnifying-plus,#magnifying-minus{
    position: absolute;
    top: 88%;
    left: 60%;
    translate: -50%;
    color: #ffffffae;
    font-size: xx-large;
}

.frame {
    position: relative;
    top: 5%;
    left: 50%;
    translate: -50%;
    width:145px;
    height: 145px;
    transform-origin: bottom center;
    animation: spin 3.5s linear infinite;  
    
}
.frame-center{
    top: 20%;
}
.frame-magnifying{
    scale: 1.4;
}
.odd, .even {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.8px solid #eff7f815;
    border-radius: 50% 50% 50% 50% / 35% 36% 65% 65% ;
    transform-origin: bottom center;
    rotate: calc(36deg * var(--d));
   
}
.odd {
    background-color: #f66c4d14;
    top: 15%;
    height: 85%;
    scale: 0 1;
    animation: scale 4s ease-in-out infinite alternate-reverse ;  
}
.even { 
    background-color: #ff080022;
}
.even-animi{
    animation: color 4s 5s linear infinite alternate-reverse;   

}
.rose-center{
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffff0080;
}

/* Controls section */
.controls{
    position: relative;
    top: 28%;
    left: 50%;
    translate: -50%;
    width: 320px;
    height:270px ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    row-gap: 1rem;
    background-color: #aaaaaa00;
  
}
 
.f-screen{
  
     display: none; 
     
}
.controls >i{
    position: absolute;
    font-size:  x-large;
    top: 100px;
    right: 30px;
    color: #ffffffcd;
}

.fc , .sc{
    display: flex;
    justify-content: center;
    column-gap: 2rem
    
}
.fc >div , .sc>div{
   position: relative;
    width: 40px;
    height: 35px;
    border-radius: 63% 37% 32% 68% / 52% 70% 30% 48%   ;
    border: 1px solid;
    
}
.fc >div::before , .sc>div::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 20px;
    left: 25px;
    border-radius: 50%;
    background-color: #000;
}
.color1,.color2{
    height: 20px;
    padding: .5rem;
    font-size: 11px;
    opacity: .7;
    scale: 1.3 1;
    color: #fff;
    border-radius: 1rem;
}
.color3{
    color: #f44336;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}
button{
    width: 95px;
    height: 32px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #cbc9c9;
    color: #6e6c6c;
}
.r2-c{
    color: #9b19b1;
}

/* Infos section */

.infos-sec{
    position: fixed;
    top: 20px;
    left: -25px;

}

.infos-symbol{
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 20px;
    color: gold;
    animation: infos-symbol 1s 2 alternate;
}

.infos-container{
    position: absolute;
    top: 30px;
    left: 62px;
    width: 270px;
    height: 440px;
    padding: 1rem;
    border-radius: 1rem;
    color: #e4e2e2;
    background-color: #eeeeee23;
   font-size: 11.5px;
   transform-origin: top left;
   backdrop-filter: hue-rotate(180deg);
    scale: 0;
}

.show-infos{
animation: show-infos .6s linear forwards;

}
.hide-infos{
    animation: hide-infos .6s linear forwards;
    
    }


.infos-container >h2, h5{
    text-align: center;
}
.warning{
    position: absolute;
    top: 85px;
    left: 14px;
    height: 350px;
    font-size: 11px;
    color: #327aff;
    writing-mode: vertical-rl;
    word-break: break-all;
}
span{
    font-size: large;
}
/* Keyframes section */

@keyframes spin {
    from {
        rotate: -360deg;
    }
}
@keyframes scale {
   
    to{
        scale: 1 1;
    }
}
 @keyframes color {
    to{
        background-color: #bf00ff10;
    }
} 
@keyframes show-infos{
    from{
        scale: 0;
    }
    to{
        scale: 1;
       
    }
}
@keyframes hide-infos{
    from{
        scale: 1;
    }
    to{
        scale: 0;
       
    }
}

@keyframes infos-symbol{
    to{
        scale: 1.3;
    }
}

/* Media section */


@media(max-width:420px){
   
    button{
        
        font-size: 15px;
    } 
    #magnifying{
        display: none;
    }
    .infos-container{
        width: 220px;
        height: 435px;
        line-height: 13px;
    }
    .infos-sec{
        position: absolute;
        translate: 13px 20px;

    }
}
@media(min-width:800px){
   .frame-center{
    top: 25%;
   }
    .controls{
        top: 40%;
        scale: 1.2;
    }
    .infos-sec{
        position: absolute;
        translate: 12vw 40px;
        scale: 1.2 ;
    
    }
}
@media(min-width:1200px){
    .infos-sec{
        position: absolute;
        translate: 25vw 40px;
        scale: 1.3 ;
    
    }
    @keyframes infos-symbol{
        to{
            scale: 1.6;
        }
    }
}

/* Colors Ids */
#white{
    background-color: #ffffff18;
}
#black{
    background-color: #2b2a2a2b;
}
#green{
    background-color: #7bff0015;
}
#blueviolet{
    background-color: #ff01ea15;

}
#yellow{
    background-color: #ffd90015;

}
#red{
    background-color: #fc282815;
}
#blue{
    background-color: #0084ff15;
}
#orange{
    background-color: #ff980015;
}
#cyan{
    background-color: #00ffff15;
}
#lightblue{
    background-color:#00bfff15;
}
#coral{
    background-color:#fe865a15;
}
#hotpink{
    background-color:#fd82c015;
}
#lightsalmon{
    background-color:#d97c5815;
}
#orchid{
    background-color:#d74dd315;
}
#lime{
    background-color:#45de8c15;
}
#aquamarine{
    background-color: #13e59f15;
}
#lawngreen{
    background-color: #9ad83713;
}
#turquoise{
    background-color: #0cffe715;
}
#yellowgreen{
    background-color: #bffd4215;
}
#darkorange{
    background-color: #ff8c0015;
}
#deebskyblue{
    background-color: #00bfff15;
}
#gold{
    background-color: #ffd70015;
}
#chocolate{
    background-color: #fb6f0c12;
}
#chartreuse{
    background-color: #ff004c12;
}
#magenta{
    background-color: #f838f815;
}
#violet{
    background-color: #ee82ee15;
}
#tomato{
    background-color: #ff634715;
}

